//清除浮动
.clearfix:before, .clearfix:after
  content: ''
  display: table

.clearfix:after
  clear: both

.fl
  float: left

.fr
  float: right

.ml-6
  margin-left 6px

.mr-6
  margin-right 6px

.mr-10
  margin-right 20px
