
//定义颜色规范
$color-bg-light = #F6F6F6
$color-bg-white = #fff
$color-bg-search = #F6FBFF
$color-light = #999
$color-middle = #666
$color-weight = #333
$color-blue = #409EFF
$color-red = #FF5E52

//定义字体规范
$text-extra-large = 20px
$text-large = 18px
$text-medium = 16px
$text-small = 14px
$text-extra-small = 13px
$text-e-extra-small = 12px


//@media screen and (max-width: 1000px)
//  $text-large = 12px

//@media screen and (min-width: 1001px)
//  $text-large = 18px
